$color-background: #282a36;
$current-desktop-color: #ff79c6;

* {
  all: unset;  
}

.bar {
  padding: .5rem 1rem;
}

.workspaces {
  background: $color-background;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.btn-0 button:nth-child(1){
  color: $current-desktop-color;
}

.btn-1 button:nth-child(2){
  color: $current-desktop-color;
}

.btn-2 button:nth-child(3){
  color: $current-desktop-color;
}

.btn-3 button:nth-child(4){
  color: $current-desktop-color;
}

.btn-4 button:nth-child(5){
  color: $current-desktop-color;
}

.sidestaff {
  background: $color-background;
  padding: .5rem 1rem;
  border-radius: 10px;
}
