xrandr --output LVDS1 --primary --mode 1366x768 --pos -1600x0 --output VGA1 --mode 1600x900 --pos 0x0 &
setxkbmap es &
udiskie -t &
~/dev/scripts/change_background.py ~/Imágenes/wallpaper/ &
~/dev/eww/target/release/eww open bar &
picom &
